[Unit]
Description=DoH DNS Proxy Server
After=network.target

[Service]
Type=simple
User=bing
WorkingDirectory=/home/bing/work_dev/smart_doh_proxy
ExecStart=/usr/bin/python3 /home/bing/work_dev/smart_doh_proxy/doh.py
Restart=always
RestartSec=10
StandardOutput=null
StandardError=null
SyslogIdentifier=smart_doh_proxy
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
